<div class="container">
    <br>
    <br>
    
<h1>Lista de Funcionários</h1>
<br>
    <br>

<table class="table table-secondary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Estado civil</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let funcionarios of funcionarios">
            <th scope="row">{{funcionarios.id}}</th>
              <td>{{funcionarios.nome}}</td>
              <td>{{funcionarios.idade}}</td>
              <td>{{funcionarios.estado}}</td>
            </tr>
          
        </tbody>
      </table>

</div>


      
   